# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist
out

# misc
.env
.env*
.DS_Store
loud_log.txt
jest_log.txt
loud
LOUD

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/util/__tests__/LOUD/**/*
quokka
quokka-scratch.ts